<div class="pull-right" style="margin-bottom: 20px;">
  <%= link_to("New Product", new_admin_product_path, class:"btn btn-primary") %>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Picture</th>
      <th>title</th>
      <th>quantity</th>
      <th>price</th>
      <th>option</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "product_item", collection: @products, as: :product%>
  </tbody>
</table>
